.section-show {
    margin-bottom: 5em;
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.18539915966386555) 0%, rgba(255,0,0,0.3926820728291317) 34%, rgba(245,0,0,0.38707983193277307) 64%, rgba(0,0,0,0.17979691876750703) 100%);
}

.section-show h1 {
    font-size: 1.5rem;
}

.section-show article {
    margin: auto;
    width: 60vw;
}

.carta-show {
    display: block;
    width: 350px;
}

.info {
    width: 30%;
}


@media (max-width: 1200px) {
    .section-show article {
        width: 80vw;
    }
    .info {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .section-show article {
        width: 80vw;
    }
    .shows {
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column;
       justify-content: center;
       align-items: center;
    }
  
}

@media (max-width: 576px) {
    .shows {
       flex-direction: column;
    }
  
}

